<mat-card>
    <div style="height: 50px; margin-left: 20px;">
      <mat-card-title><b>Login</b></mat-card-title>
    </div>
    <div>
        <form>
        </form>
    </div>
</mat-card>
<br>
<div class="btn-toolbar" style="float: right;">
  <div class="btn-group">
    <button color="primary" class="buttonInserir" mat-raised-button (click) = "entrar()">
      Entrar
    </button>
  </div>
  <div class="btn-group">
    <button color="primary" class="buttonInserir" mat-raised-button (click) = "registrar()">
      Registrar
    </button>
  </div>
</div>
