#modal-content-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

#modal-title {
    font-size: 22px;
}

#modal-body {
    justify-self: center;
    align-self: center;
    font-size: 18px;
}

#modal-footer {
    justify-self: center;
    align-self: center;
}

#modal-action-button {
    margin-right: 30px;
    background-color:#6241d8;
    justify-self: center;
    font-weight :bold;
}

#modal-cancel-button {
    background-color: #da5555;
    justify-self: center;
    font-weight :bold;
}
