<mat-card xmlns="http://www.w3.org/1999/html">
  <div style="width: 550px; margin-left: 950px; font-size: small">
    <mat-card-title style="font-size: small"><b>Usuário: </b>{{ this.nomeLogado }}</mat-card-title>
  </div>
  <div style="height: 50px; margin-left: 20px;">
    <mat-card-title><b>Alteração do Permissionário</b></mat-card-title>
  </div>
  <form>
    <mat-form-field appearance="outline" style="width: 250px; margin-left: 20px; margin-right: 30px;">
      <mat-label>Nº Permissão</mat-label>
      <mat-select [(value)]="permissaoSelecionada">
        <mat-option *ngFor="let permissao of permissoesOptions" [value]="permissao.numeroPermissao">
          {{ permissao.numeroPermissao }}
        </mat-option>
      </mat-select>
      <button mat-button *ngIf="permissaoSelecionada" matSuffix aria-label="Clear" (click)="permissaoSelecionada=''">
        <i class="material-icons black v-middle">
          close
        </i>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 550px; margin-left: 20px; margin-right: 30px;">
      <mat-label >Nome Permissionário</mat-label>
      <input matInput placeholder="Descrição Ponto" style="margin-right: 20px;" [(ngModel)]="permissionario.nomePermissionario" name="nomePermissionario">
      <button mat-button *ngIf="permissionario.nomePermissionario" matSuffix aria-label="Clear" (click)="permissionario.nomePermissionario=''">
        <i class="material-icons black v-middle">
          close
        </i>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 250px; margin-left: 20px; margin-right: 30px;">
      <mat-label >CPF Permissionário</mat-label>
      <input type="number" matInput placeholder="CPF Permissionário" style="margin-right: 20px;" [(ngModel)]="permissionario.cpfPermissionario" name="cpfPermissionario">
      <button mat-button *ngIf="permissionario.cpfPermissionario" matSuffix aria-label="Clear" (click)="permissionario.cpfPermissionario=''">
        <i class="material-icons black v-middle">
          close
        </i>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 250px; margin-left: 20px; margin-right: 30px;">
      <mat-label >CNPJ Empresa</mat-label>
      <input matInput placeholder="CNPJ Empresa" style="margin-right: 20px;" [(ngModel)]="permissionario.cnpjEmpresa" name="cnpjEmpresa">
      <button mat-button *ngIf="permissionario.cnpjEmpresa" matSuffix aria-label="Clear" (click)="permissionario.cnpjEmpresa=''">
        <i class="material-icons black v-middle">
          close
        </i>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 250px; margin-left: 20px; margin-right: 30px;">
      <mat-label >RG Permissionário</mat-label>
      <input matInput placeholder="RG Permissionário" style="margin-right: 20px;" [(ngModel)]="permissionario.rgPermissionario" name="rgPermissionario">
      <button mat-button *ngIf="permissionario.rgPermissionario" matSuffix aria-label="Clear" (click)="permissionario.rgPermissionario=''">
        <i class="material-icons black v-middle">
          close
        </i>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 250px; margin-left: 20px; margin-right: 30px;">
      <mat-label >Órgão Emissor</mat-label>
      <input matInput placeholder="Órgão Emissor" style="margin-right: 20px;" [(ngModel)]="permissionario.orgaoEmissor" name="orgaoEmissor">
      <button mat-button *ngIf="permissionario.orgaoEmissor" matSuffix aria-label="Clear" (click)="permissionario.orgaoEmissor=''">
        <i class="material-icons black v-middle">
          close
        </i>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 250px; margin-left: 20px; margin-right: 30px;">
      <mat-label>Natureza da Pessoa</mat-label>
      <mat-select [(value)]="naturezaSelecionada">
        <mat-option *ngFor="let natureza of naturezaPessoaOptions" [value]="natureza.id">
          {{ natureza.nome }}
        </mat-option>
      </mat-select>
      <button mat-button *ngIf="naturezaSelecionada" matSuffix aria-label="Clear" (click)="naturezaSelecionada=''">
        <i class="material-icons black v-middle">
          close
        </i>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 250px; margin-left: 20px; margin-right: 30px;">
      <mat-label >Celular/Telefone</mat-label>
      <input matInput placeholder="Celular/Telefone" style="margin-right: 20px;" [(ngModel)]="permissionario.celularPermissionario" name="celularPermissionario">
      <button mat-button *ngIf="permissionario.celularPermissionario" matSuffix aria-label="Clear" (click)="permissionario.celularPermissionario=''">
        <i class="material-icons black v-middle">
          close
        </i>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 250px; margin-left: 20px; margin-right: 30px;">
      <mat-label>UF</mat-label>
      <mat-select [(value)]="ufSelecionada">
        <mat-option *ngFor="let uf of ufOptions" [value]="uf.sigla">
          {{ uf.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 550px; margin-left: 20px; margin-right: 30px;">
      <mat-label >Bairro Permissionário</mat-label>
      <input matInput placeholder="Bairro Permissionário" style="margin-right: 20px;" [(ngModel)]="permissionario.bairroPermissionario" name="bairroPermissionario">
      <button mat-button *ngIf="permissionario.bairroPermissionario" matSuffix aria-label="Clear" (click)="permissionario.bairroPermissionario=''">
        <i class="material-icons black v-middle">
          close
        </i>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 550px; margin-left: 20px; margin-right: 30px;">
      <mat-label >Endereço Permissionário</mat-label>
      <input matInput placeholder="Endereço Permissionário" style="margin-right: 20px;" [(ngModel)]="permissionario.enderecoPermissionario" name="enderecoPermissionario">
      <button mat-button *ngIf="permissionario.enderecoPermissionario" matSuffix aria-label="Clear" (click)="permissionario.enderecoPermissionario=''">
        <i class="material-icons black v-middle">
          close
        </i>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 250px; margin-left: 20px; margin-right: 30px;">
      <mat-label >CNH Permissionário</mat-label>
      <input matInput placeholder="CNH Permissionário" style="margin-right: 20px;" [(ngModel)]="permissionario.cnhPermissionario" name="cnhPermissionario">
      <button mat-button *ngIf="permissionario.cnhPermissionario" matSuffix aria-label="Clear" (click)="permissionario.cnhPermissionario=''">
        <i class="material-icons black v-middle">
          close
        </i>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 250px; margin-left: 20px; margin-right: 30px;">
      <mat-label>Categoria CNH</mat-label>
      <mat-select [(value)]="categoriaCnhSelecionada">
        <mat-option *ngFor="let categoria of categoriaOptions" [value]="categoria.id">
          {{ categoria.nome }}
        </mat-option>
      </mat-select>
      <button mat-button *ngIf="categoriaCnhSelecionada" matSuffix aria-label="Clear" (click)="categoriaCnhSelecionada=''">
        <i class="material-icons black v-middle">
          close
        </i>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 250px; margin-left: 20px; margin-right: 30px;">
      <mat-label >Nº Inscrição INSS</mat-label>
      <input type="number" matInput placeholder="Nº Inscrição INSS" style="margin-right: 20px;" [(ngModel)]="permissionario.numeroInscricaoInss" name="numeroInscricaoInss">
      <button mat-button *ngIf="permissionario.numeroInscricaoInss" matSuffix aria-label="Clear" (click)="permissionario.numeroInscricaoInss=''">
        <i class="material-icons black v-middle">
          close
        </i>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 250px; margin-left: 20px; margin-right: 30px;">
      <mat-label >Nº Quitação Militar</mat-label>
      <input type="number" matInput placeholder="Nº Quitação Militar" style="margin-right: 20px;" [(ngModel)]="permissionario.numeroQuitacaoMilitar" name="numeroQuitacaoMilitar">
      <button mat-button *ngIf="permissionario.numeroQuitacaoMilitar" matSuffix aria-label="Clear" (click)="permissionario.numeroQuitacaoMilitar=''">
        <i class="material-icons black v-middle">
          close
        </i>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 250px; margin-left: 20px; margin-right: 30px;">
      <mat-label >Nº Quitação Eleitoral</mat-label>
      <input type="number" matInput placeholder="Nº Quitação Eleitoral" style="margin-right: 20px;" [(ngModel)]="permissionario.numeroQuitacaoEleitoral" name="numeroQuitacaoEleitoral">
      <button mat-button *ngIf="permissionario.numeroQuitacaoEleitoral" matSuffix aria-label="Clear" (click)="permissionario.numeroQuitacaoEleitoral=''">
        <i class="material-icons black v-middle">
          close
        </i>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 250px; margin-left: 20px; margin-right: 30px;">
      <mat-label >Nº Certificado Condutor</mat-label>
      <input type="number" matInput placeholder="Nº Certificado Condutor" style="margin-right: 20px;" [(ngModel)]="permissionario.numeroCertificadoCondutor" name="numeroCertificadoCondutor">
      <button mat-button *ngIf="permissionario.numeroCertificadoCondutor" matSuffix aria-label="Clear" (click)="permissionario.numeroCertificadoCondutor=''">
        <i class="material-icons black v-middle">
          close
        </i>
      </button>
    </mat-form-field>

    <mat-card>
      <mat-card-content>
        <mat-label >Certidão Negativa Criminal</mat-label>
        <div class="file-upload-container">
          <input type="file" #fileInputCriminal (change)="getCertidaoNegativaCriminalSelecionada($event)" style="display: none;">
          <button mat-raised-button color="primary" (click)="fileInputCriminal.click()">
            <mat-icon>cloud_upload</mat-icon> Choose File
          </button>
          <span *ngIf="certidaoNegativaCriminalSelecionada">{{ certidaoNegativaCriminalSelecionada.name }}</span>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <mat-label >Certidão Negativa Municipal</mat-label>
        <div class="file-upload-container">
          <input type="file" #fileInputMunicipal (change)="getCertidaoNegativaMunicipalSelecionada($event)" style="display: none;">
          <button mat-raised-button color="primary" (click)="fileInputMunicipal.click()">
            <mat-icon>cloud_upload</mat-icon> Choose File
          </button>
          <span *ngIf="certidaoNegativaMunicipalSelecionada">{{ certidaoNegativaMunicipalSelecionada.name }}</span>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <mat-label >Foto 3x4 Permissionário</mat-label>
        <div class="file-upload-container">
          <input type="file" #fileInputFoto (change)="getFotoSelecionada($event)" style="display: none;">
          <button mat-raised-button color="primary" (click)="fileInputFoto.click()">
            <mat-icon>cloud_upload</mat-icon> Choose File
          </button>
          <span *ngIf="fotoSelecionada">{{ fotoSelecionada.name }}</span>
        </div>
      </mat-card-content>
    </mat-card>
    <div>
      <button style="background-color: darkgray; margin-left: 20px; margin-right: 30px;"  class="buttonVoltar" mat-raised-button (click) = "voltar()">
        Voltar
      </button>
      <button color="primary" class="buttonSalvar" mat-raised-button (click) = "editarPermissionario()">
        Salvar
      </button>
    </div>
  </form>
</mat-card>


