<mat-card>
    <div style="width: 550px; margin-left: 950px; font-size: small">
      <mat-card-title style="font-size: small"><b>Usuário: </b>{{ this.nomeLogado }}</mat-card-title>
    </div>
    <div style="height: 50px; margin-left: 20px;">
      <mat-card-title><b>Inlcusão do Ponto de Estacionamento de Táxi</b></mat-card-title>
    </div>
    <form>
        <mat-form-field appearance="outline" style="width: 150px; margin-left: 20px; margin-right: 30px;">
          <mat-label >Ponto Nº</mat-label>
          <input type="number" matInput placeholder="Ponto Nº" style="margin-right: 20px;" [(ngModel)]="pontoTaxi.numeroPonto" name="numeroPonto">
          <button mat-button *ngIf="pontoTaxi.numeroPonto" matSuffix aria-label="Clear" (click)="pontoTaxi.numeroPonto=''">
            <i class="material-icons black v-middle">
              close
            </i>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 550px; margin-left: 20px; margin-right: 30px;">
          <mat-label >Descrição Ponto</mat-label>
          <input matInput placeholder="Descrição Ponto" style="margin-right: 20px;" [(ngModel)]="pontoTaxi.descricaoPonto" name="descricaoPonto">
          <button mat-button *ngIf="pontoTaxi.descricaoPonto" matSuffix aria-label="Clear" (click)="pontoTaxi.descricaoPonto=''">
            <i class="material-icons black v-middle">
              close
            </i>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 250px; margin-left: 20px; margin-right: 30px;">
          <mat-label >Fator Rotatividade</mat-label>
          <input disabled="true" matInput placeholder="Fator Rotatividade" style="margin-right: 20px;" [(ngModel)]="pontoTaxi.fatorRotatividade" name="fatorRotatividade">
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 150px; margin-left: 20px; margin-right: 30px;">
          <mat-label >Nº Vagas</mat-label>
          <input type="number" matInput placeholder="Nº Vagas" style="margin-right: 20px;" [(ngModel)]="pontoTaxi.numeroVagas" name="numeroVagas">
          <button mat-button *ngIf="pontoTaxi.numeroVagas" matSuffix aria-label="Clear" (click)="pontoTaxi.numeroVagas=''">
            <i class="material-icons black v-middle">
              close
            </i>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 550px; margin-left: 20px; margin-right: 30px;">
          <mat-label >Ponto Referência</mat-label>
          <input matInput placeholder="Ponto Referência" style="margin-right: 20px;" [(ngModel)]="pontoTaxi.referenciaPonto" name="referenciaPonto">
          <button mat-button *ngIf="pontoTaxi.referenciaPonto" matSuffix aria-label="Clear" (click)="pontoTaxi.referenciaPonto=''">
            <i class="material-icons black v-middle">
              close
            </i>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 250px; margin-left: 20px; margin-right: 30px;">
          <mat-label>Modalidade</mat-label>
          <mat-select [(value)]="modalidadeSelecionada">
            <mat-option *ngFor="let moda of modalidadeOptions" [value]="moda.id">
              {{ moda.nome }}
            </mat-option>
          </mat-select>
          <button mat-button *ngIf="modalidadeSelecionada" matSuffix aria-label="Clear" (click)="modalidadeSelecionada=''">
            <i class="material-icons black v-middle">
              close
            </i>
          </button>
        </mat-form-field>
        <div>
          <button style="background-color: darkgray; margin-left: 20px; margin-right: 30px;"  class="buttonVoltar" mat-raised-button (click) = "voltar()">
            Voltar
          </button>
          <button color="primary" class="buttonSalvar" mat-raised-button (click) = "inserirPontoTaxi()">
            Salvar
          </button>
        </div>
    </form>
</mat-card>

