<mat-form-field appearance="outline" style="width: 70px;">
    <mat-label>Sinal</mat-label>
    <select matNativeControl (change)="selecionarSinal($event)">
        <option *ngFor="let option of sinais" [value]="option.value"
            [selected]="sinalSelecionado === option.value">{{ option.viewValue }}</option>
    </select>
    <button mat-button *ngIf="sinalSelecionado > 0" matSuffix aria-label="Clear"
    (click)="limparCombo()">
        <i class="material-icons black v-middle">
            close
        </i>
    </button>
</mat-form-field>
