.header {
    display: flex;
    align-items: center;
    height: 20%;
}

.header .logo{
    max-height: 20px;
}

.header .title-group{
    padding-left: 25px;
    font-size: small;
}

.mat-toolbar {
  justify-content: center;
}
