.home .title {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.home .subtitle {
    font-size: 1rem;
}


