  .drawer {
    position: fixed;
    height: 100vh;
    min-width: 25%;
    border-right: 1px solid #ccc;
  }

  .menu.estilo {
    background-color:rgb(93, 142, 247);
    width: 150px;
  }

  .toolbar.estilo {
    height: 20%;
  }

  .main.contents {
    min-height: 100vh;
    margin-top: 30px; /* height of header */
    padding: 16px;
  }

  .main.footer {
    text-align: right;
    border-top: 1px solid #ccc;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: rgb(132, 132, 241);
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
  }

  .mat-toolbar {
    justify-content: center;
  }
