<link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">

<mat-drawer-container [class.drawer-opened]="drawer.opened">
  <mat-drawer #drawer mode="side" opened="true" class="menu estilo" mode="side">
    <div style="margin-bottom: 10px">
      <a mat-list-item routerLink="/">
        <i class="material-icons">
          home
        </i>
        Início
      </a>
    </div>
    <div style="margin-bottom: 10px">
      <a mat-list-item routerLink="/logar" *ngIf="environment.loginGlobal=='0'">
        <i class="material-icons">
          login
        </i>
        Acessar SGSC
      </a>
    </div>
    <div style="margin-bottom: 10px">
      <a mat-list-item routerLink="/registrar">
        <i class="material-icons">
          add_circle
        </i>
        Registrar Usuário
      </a>
    </div>
    <div style="margin-bottom: 10px">
      <a mat-list-item routerLink="/alterar-senha">
        <i class="material-icons">
          add_circle
        </i>
        Alterar Senha
      </a>
    </div>
    <div style="margin-bottom: 10px">
      <button mat-button [matMenuTriggerFor]="menuPrincipalTaxi" *ngIf="environment.loginGlobal=='1' && (environment.modulosUsuario=='1#' || environment.modulosUsuario=='1#2#')">Módulos Táxi
        <i class="material-icons">
          computer
        </i>
      </button>
    </div>
    <div style="margin-bottom: 10px">
      <button mat-button [matMenuTriggerFor]="menuPrincipalMotoTaxi" *ngIf="environment.loginGlobal=='1' && (environment.modulosUsuario=='2#' || environment.modulosUsuario=='1#2#')">Módulos MotoTáxi
        <i class="material-icons">
          computer
        </i>
      </button>
    </div>
    <div style="margin-bottom: 10px">
      <a mat-list-item routerLink="/sair" *ngIf="environment.loginGlobal=='1'">
        <i class="material-icons">
          arrow_back
        </i>
        Sair
      </a>
    </div>

    <!-- Menu Principal Táxi -->
    <mat-menu #menuPrincipalTaxi="matMenu">
      <!-- Item que abre o Submenu do Menu Módulos Táxi -->
      <div style="margin-bottom: 10px">
        <a mat-list-item routerLink="/permissao">
          <i class="material-icons">
            apps
          </i>
          Permissão
        </a>
      </div>
      <div style="margin-bottom: 10px">
        <a mat-list-item routerLink="/permissionario">
          <i class="material-icons">
            person
          </i>
          Permissionário
        </a>
      </div>
      <div style="margin-bottom: 10px">
        <a mat-list-item routerLink="/ponto-taxi">
          <i class="material-icons">
            garage
          </i>
          PET
        </a>
      </div>
      <div style="margin-bottom: 10px">
        <a mat-list-item routerLink="/veiculo">
          <i class="material-icons">
            local_taxi
          </i>
          Veículo
        </a>
      </div>
      <div style="margin-bottom: 10px">
        <a mat-list-item routerLink="/defensor">
          <i class="material-icons">
            person
          </i>
          Defensor
        </a>
      </div>
      <div style="margin-bottom: 10px">
        <a mat-list-item routerLink="/fiscalizacao">
          <i class="material-icons">
            folder
          </i>
          Fiscalização
        </a>
      </div>
      <div style="margin-bottom: 10px">
        <a mat-list-item routerLink="/auditoria">
          <i class="material-icons">
            check
          </i>
          Auditoria
        </a>
      </div>
    </mat-menu>

    <!-- Menu Principal Táxi -->
    <mat-menu #menuPrincipalMotoTaxi="matMenu">
      <!-- Item que abre o Submenu do Menu Módulos MotoTáxi -->
      <div style="margin-bottom: 10px">
        <a mat-list-item routerLink="/motoTaxi">
          <i class="material-icons">
            apps
          </i>
          Permissão
        </a>
      </div>
    </mat-menu>

  </mat-drawer>
  <div class="main contents">
    <router-outlet></router-outlet>
  </div>

  <mat-toolbar class="main footer">
    Versão da Aplicação 1.0 - 2025
  </mat-toolbar>
</mat-drawer-container>

