<mat-card>
  <div style="width: 550px; margin-left: 950px; font-size: small">
    <mat-card-title style="font-size: small"><b>Usuário: </b>{{ this.nomeLogado }}</mat-card-title>
  </div>
  <div style="height: 50px; margin-left: 20px;">
    <mat-card-title><b>Alteração do Laudo de Vistoria</b></mat-card-title>
  </div>
  <form>
    <mat-form-field appearance="outline" style="width: 250px; margin-left: 20px; margin-right: 30px;">
      <mat-label >Placa*</mat-label>
      <input maxlength="7" matInput placeholder="Placa" style="margin-right: 20px;" [(ngModel)]="vistoria.placa" name="placa" (blur)="buscarVeiculoPlaca()">
      <button mat-button *ngIf="vistoria.placa" matSuffix aria-label="Clear" (click)="limparCamposVeiculo()">
        <i class="material-icons black v-middle">
          close
        </i>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 250px; margin-left: 20px; margin-right: 30px;">
      <mat-label >Marca</mat-label>
      <input [disabled]="true" matInput placeholder="Marca" style="margin-right: 20px;" [(ngModel)]="marca" name="marca">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 250px; margin-left: 20px; margin-right: 30px;">
      <mat-label >Modelo</mat-label>
      <input [disabled]="true" matInput placeholder="Modelo" style="margin-right: 20px;" [(ngModel)]="modelo" name="modelo">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 250px; margin-left: 20px; margin-right: 30px;">
      <mat-label >Renavam</mat-label>
      <input [disabled]="true" matInput placeholder="Renavam" style="margin-right: 20px;" [(ngModel)]="renavam" name="renavam">
    </mat-form-field>
    <br>
    <div>
      CheckList da Vistoria (C = Conforme  |  NC = Não Conforme  |  NA = Não se Aplica)
    </div>

    <mat-grid-list cols="4" rowHeight="30px" gutterSize="5px">
      <mat-grid-tile style="background: gray">
        Nº / Item
      </mat-grid-tile>
      <mat-grid-tile style="background: gray">
        C / NC / NA
      </mat-grid-tile>
      <mat-grid-tile style="background: gray">
        Nº / Item
      </mat-grid-tile>
      <mat-grid-tile style="background: gray">
        C / NC / NA
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="2" rowHeight="30px" gutterSize="5px">
      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          01 - Chassi, funilaria e pintura
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="chassiFunilariaPintura" name="chassiFunilariaPintura">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          12 - Instalação elétrica
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="instalacaoEletrica" name="instalacaoEletrica">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          02 - Farol (alta e baixa)
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="farolAtlaBaixa" name="farolAtlaBaixa">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          13 – Buzina
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="buzina" name="buzina">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          03 - Lanterna traseira
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="lanternaTraseira" name="lanternaTraseira">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          14 - Freio dianteiro
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="freioDianteiro" name="freioDianteiro">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          04 - Luz de placa
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="luzPlaca" name="luzPlaca">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          15 - Freio traseiro
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="freioTraseiro" name="freioTraseiro">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          05 - Luzes de direção (pisca-alerta)
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="luzesDirecao" name="luzesDirecao">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          16 - Pneus (desgaste e calibragem)
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="pneusDesgateCalibragem" name="pneusDesgateCalibragem">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          06 - Luz de freio
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="luzFreio" name="luzFreio">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          17 - Corrente / correia de transmissão
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="correnteCorreia" name="correnteCorreia">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          07 - Placas (dianteira e traseira)
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="placasDianteiraTraseira" name="placasDianteiraTraseira">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          18 - Vazamentos (óleo, combustível)
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="vazamentoOleoCombustivel" name="vazamentoOleoCombustivel">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          08 - Limpeza geral (interna e externa)
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="limpezaGeralInterna" name="limpezaGeralInterna">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          19 - Escapamento
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="escapamento" name="escapamento">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          09 - Assento (fixação e revestimento)
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="assentoFixacao" name="assentoFixacao">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          20 - Equipamentos obrigatórios (colete refletivo, capacete extra)
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="equipamentosObrigatorios" name="equipamentosObrigatorios">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          10 - Espelhos retrovisores
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="espelhosRetrovisores" name="espelhosRetrovisores">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          21 - Selos de vistoria e autorização
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="selosVistoria" name="selosVistoria">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          11 - Guidão e manoplas
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="guidaoManoplas" name="guidaoManoplas">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

      <mat-grid-tile style="background: lightgray">
        <div style="justify-content: flex-start; width: 100%;">
          22 – Outros
        </div>
        <div style="justify-content: flex-end; width: 100%;">
          <mat-radio-group aria-label="Selecione uma opção" [(ngModel)]="outros" name="outros">
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="NC">NC</mat-radio-button>
            <mat-radio-button value="NA">NA</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>

    </mat-grid-list>


    <br>
    <br>
    <mat-form-field appearance="outline" style="width: 200px; margin-left: 20px; margin-right: 30px;">
      <mat-label >Data da Vistoria*</mat-label>
      <input matInput [matDatepicker]="dtVistoria" placeholder="Data da Vistoria" [(ngModel)]="vistoria.dataVistoria" name="dataVistoria">
      <mat-datepicker-toggle matIconSuffix [for]="dtVistoria"></mat-datepicker-toggle>
      <mat-datepicker #dtVistoria></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 300px; margin-left: 20px; margin-right: 30px;">
      <mat-label>Status da Vistoria*</mat-label>
      <mat-select [(value)]="statusVistoriaSelecionada">
        <mat-option *ngFor="let status of statusVistoriaOptions" [value]="status.id">
          {{ status.nome }}
        </mat-option>
      </mat-select>
      <button mat-button *ngIf="statusVistoriaSelecionada" matSuffix aria-label="Clear" (click)="statusVistoriaSelecionada=''">
        <i class="material-icons black v-middle">
          close
        </i>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 550px; margin-left: 20px; margin-right: 30px;">
      <mat-label >Ressalvas</mat-label>
      <input maxlength="100" matInput placeholder="Ressalvas" style="margin-right: 20px;" [(ngModel)]="vistoria.ressalvas" name="ressalvas">
      <button mat-button *ngIf="vistoria.ressalvas" matSuffix aria-label="Clear" (click)="vistoria.ressalvas=''">
        <i class="material-icons black v-middle">
          close
        </i>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 200px; margin-left: 20px; margin-right: 30px;">
      <mat-label >Data do Retorno</mat-label>
      <input matInput [matDatepicker]="retorno" placeholder="Data do Retorno" [(ngModel)]="vistoria.dataRetorno" name="dataRetorno">
      <mat-datepicker-toggle matIconSuffix [for]="retorno"></mat-datepicker-toggle>
      <mat-datepicker #retorno></mat-datepicker>
    </mat-form-field>

    <mat-card>
      <mat-card-content>
        <mat-label >Comprovante de Vistoria*</mat-label>
        <div class="file-upload-container">
          <input type="file" #fileInputVistoria (change)="getComprovanteVistoriaSelecionado($event)" style="display: none;">
          <button mat-raised-button color="primary" (click)="fileInputVistoria.click()">
            <mat-icon>cloud_upload</mat-icon> Selecionar Arquivo
          </button>
          <span *ngIf="comprovanteVistoriaSelecionado">{{ comprovanteVistoriaSelecionado.name }}</span>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-form-field appearance="outline" style="width: 900px; margin-left: 20px; margin-right: 30px;">
        <mat-label >Observação</mat-label>
        <textarea [(ngModel)]="vistoria.observacao" matInput placeholder="Observação" name="observacao"></textarea>
      </mat-form-field>
    </mat-card>

    <div>
      <button style="background-color: darkgray; margin-left: 20px; margin-right: 30px;"  class="buttonVoltar" mat-raised-button (click) = "voltar()">
        Voltar
      </button>
      <button color="primary" class="buttonSalvar" mat-raised-button (click) = "editarVistoria()">
        Salvar
      </button>
    </div>
  </form>
</mat-card>


